In [1]:
import pandas as pd

In [2]:
pd.read_csv('customers.csv')

     identifier                      email             name gender
0             0        JohnSmith@rhyta.com       John Smith      M
1             1    MaryJohnson@fleckens.hu     Mary Johnson      F
2             2    WilliamBrown@einrot.com    William Brown      M
3             3       JamesLee@armyspy.com        James Lee      M
4             4   PatriciaGarcia@rhyta.com  Patricia Garcia      F
..          ...                        ...              ...    ...
145         145  ClarenceBurke@teleworm.us   Clarence Burke      M
146         146     LorraineNunez@cuvox.de   Lorraine Nunez      F
147         147       TeddyJordan@cuvox.de     Teddy Jordan      M
148         148     DeannaWelch@dayrep.com     Deanna Welch      F
149         149   BrianFrontino@einrot.com   Brian Frontino      M

[150 rows x 4 columns]